footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    grid-area: footer;
    background: #b00f0f;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    z-index: 100;

    padding: 0 1rem;

    display: grid;
    justify-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;

    color: white;

    grid-template-areas:
            "about socNetworks map contacts"
            "copyright copyright copyright copyright";

    margin-top: 3rem;
}

footer .block_header {
    color: white;
    font-style: normal;
}

footer h2:after {
    content: "";
    display: block;
    width: 20%;
    height: 5px;
    background: white;
    margin-top: 10px;
}

footer #soc_network_holder {
    margin: 20px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer #social_networks_block {
    grid-area: socNetworks;
}

footer #soc_network_holder a {
    padding: 5px 5px;
    color: var(--light-blue);
    text-decoration: none;
    position: relative;
    z-index: 1;
    width: calc(2em + 5px);
    height: calc(2em + 5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);

    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);

    background: rgba(255, 255, 255, 0.5);

    border-radius: 100%;

    overflow: hidden;

    -webkit-transition: all 0.4s;

    -o-transition: all 0.4s;

    transition: all 0.4s;
}

footer #soc_network_holder a i {
    font-size: 1.5em;
}

footer #soc_network_holder a:before {
    position: absolute;
    content: " ";
    left: -2px;
    bottom: -2px;
    right: -2px;
    top: -2px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;

    -webkit-transition: all 0.4s;

    -o-transition: all 0.4s;

    transition: all 0.4s;
}

footer #soc_network_holder #vk:hover {
    color: #984b5a;
}

footer #soc_network_holder #linkedin:hover {
    color: #984b5a;
}

footer #soc_network_holder #twitter:hover {
    color: #984b5a;
}

#soc_network_holder #telegram:hover {
    color: #984b5a;
}

footer #soc_network_holder #github:hover {
    color: #984b5a;
}

footer #soc_network_holder a:hover:before {
    top: calc(100% + 2px);
}

footer #soc_network_holder a:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;

    margin: 2px;
    border-radius: 100%;
}

footer #soc_network_holder #vk:after {
    background: #ffffff;
    background: linear-gradient(-45deg, #86191d, #ad9073);;
}

footer #soc_network_holder #linkedin:after {
    background: #ffffff;
    background: linear-gradient(-45deg, #86191d, #ad9073);;
}

footer #soc_network_holder #twitter:after {
    color: #ffffff;
    background: linear-gradient(-45deg, #86191d, #ad9073);;
}

footer #soc_network_holder #telegram:after {
    color: #ffffff;
    background: linear-gradient(-45deg, #86191d, #ad9073);;
}


footer #about_block {
    grid-area: about;
}

footer #about_block {
    color: white;
}

footer address {
    grid-area: contacts;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

footer address h2 {
    width: 100%;
}

footer address a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #ad9073;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 10px;
    text-align: left;
    position: relative;
}

footer address a i {
    margin-right: 10px;
}

footer address a:hover {
    color: lavender;
}

footer address a:active {
    color: #ad9073;
}

footer address a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    bottom: -4px;
    height: 4px;
    background: #ad9073;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

footer address a:hover:after {
    width: 100%;
    background: lavender;
}

#map_block {
    grid-area: map;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.2rem;
}

#map_block ul {
    list-style: disc;
    margin-left: 2rem;

    margin-top: 0;
    margin-bottom: 0;

    padding: 0 0.5rem 0.5rem;
}

#map_block a {
    color: #ad9073;
    text-decoration: none;
    margin: 5px 10px;
    text-align: left;
    position: relative;
}

#map_block a:hover {
    color: lavender;
}

#copyright {
    justify-self: center;
    grid-area: copyright;
    font-style: italic;
    text-align: center;
    opacity: 70%;
    color: #b0b0b0;

    margin: 20px 0 5px;
}

@media screen and (max-width: 1250px) {
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "about socNetworks"
                "map contacts"
                "copyright copyright";
    }
}

@media screen and (max-width: 800px) {
    footer {
        grid-template-columns: none;
        grid-auto-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "about"
                "socNetworks"
                "map"
                "contacts"
                "copyright";
        width: 100%;
    }

    #social_networks_block {
        width: 100%;
        font-size: 1rem;
    }
}

